services:
  app:
    build: .
    container_name: app
    stdin_open: true
    tty: true
    depends_on:
      - ollama
      - mongodb
    environment:
      EMBEDDING_MODEL: nomic-embed-text

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - 11434:11434
    volumes:
      - ollama_data:/data

  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db
      - ./mongod.conf:/etc/mongod.conf:ro

volumes:
  mongodb_data_container:
  ollama_data:
